mss
pillow
pytesseract
pydirectinput; sys_platform == "win32"
easyocr
pywin32; sys_platform == "win32"
pyobjc-framework-Quartz; sys_platform == "darwin"
pyobjc-framework-Cocoa; sys_platform == "darwin"
